name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Julia ${{matrix.version}} - ${{matrix.os}} - ${{matrix.arch}} - ${{github.event_name}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        # See <https://julialang-s3.julialang.org/bin/versions.json> for available Julia versions
        include:
          - arch: "x64"
            os: "macOS-15-intel"
            version: "1.12"
          - arch: "x64"
            os: "ubuntu-24.04"
            version: "1.12"
          - arch: "x64"
            os: "windows-2025"
            version: "1.12"
          - arch: "arm64"
            os: "macOS-26"
            version: "1.12"
          - arch: "arm64"
            os: "ubuntu-24.04-arm"
            version: "1.12"
          # - arch: "x86"
          #   os: "ubuntu-24.04"
          #   version: "1.12"
          - arch: "x64"
            os: "ubuntu-24.04"
            version: "1.11"
          - arch: "x64"
            os: "ubuntu-24.04"
            version: "1.10"
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{matrix.version}}
          arch: ${{matrix.arch}}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: eschnett/IndexSpaces.jl
